* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
}

.header {
    margin-bottom: 60px;
}

.header h1 {
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    color: #666;
}

.searchSection {
    width: 100%;
    margin-bottom: 24px;
}

.searchInfo {
    font-size: 15px;
    margin-bottom: 12px;
}

.searchBox {
    position: relative;
    width: 100%;
}

.searchBox input {
    width: 100%;
    padding: 12px;
    padding-right: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.2s;
}

.searchBox input:focus {
    outline: 2px solid #ECD19E;
}

.searchBox input::placeholder {
    font-size: 16px;
    color: #666;
}

.emptyMessage {
    font-size: 16px;
    line-height: 1.7;
    color: #666;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchButton {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ECD19E;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.searchButton:hover {
    background-color: #E0C08A;
}

.examplesBox {
    width: 100%;
    height: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.exampleContent {
    margin-bottom: 0px;
    height: calc(100% - 40px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.exampleContent p {
    font-size: 16px;
    line-height: 1.7;
}

.question {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.answer {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    margin-right: 15px;
    padding-top: 10px;
}

.exampleLink {
    color: #666;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    margin-top: auto;
    padding-top: 10px;
}

.exampleLink:hover {
    color: #ECD19E;
}

.navigationButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    color: #666;
}

.navButton:hover {
    background-color: #f3f4f6;
}

.exampleCounter {
    padding: 4px;
}