/* 공고 목록 컨테이너 */
.job-listings-container {
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* 제목 스타일 */
.listings-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 부제목 스타일 */
.listings-subtitle {
    margin-bottom: 15px;
    color: #333;
    font-size: 15px;
}

/* 목록 스타일 */
.listings-list {
    list-style-type: none;
    padding: 0px;
    font-size: 18px;
}

.listing-link {
    text-decoration: none;
    /* 밑줄 없애기 */
    color: inherit;
    padding-left: 5px;
    padding-right: 5px
}

.listing-link:hover {
    background-color: #ECD19E;
    color: white;
    border: 1px solid #ECD19E;
    border-radius: 15px;
}

/* 목록 항목 스타일 */
.listing-item {
    padding: 5px 0;
    position: relative;
}

.no-deadline-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 350px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}