.home-main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.calendar-deadlinelist {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    width: 1032.5px;
    margin: 0 auto;
    /* 좌우 여백 자동 정렬 */
}

.calendar {
    flex: 2;
}

.deadlineList {
    flex: 1;
}

@media (max-width: 1100px) {
    .calendar-deadlinelist {
        flex-direction: column;
    }

    .calendar-container {
        width: 100%;
        max-width: 600px;
    }

    .job-listings-container {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }
}