.recent-applications {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.applications-container {
    width: 1100px;
}

.applications-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.applications-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 25px;
}

.no-data-box {
    max-width: 1100px;
    height: 172px;
    border: 1px solid #ddd;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible-button {
    all: unset;
    /* 기본 스타일 제거 */
    width: 100%;
    /* 부모 크기에 맞춤 */
    height: 100%;
    cursor: pointer;
    /* 클릭 가능하게 유지 */
}