.recent-applications {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.applications-container {
    width: 1100px;
}

.applications-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.applications-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 25px;
}

.no-data-box {
    width: 1100px;
    height: 172px;
    border: 1px solid #ddd;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}