/* 문서 카드 스타일 */
.document-card,
.plus-card {
    width: 100%;
    height: 100%;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: white;
    padding: 14px;
    box-sizing: border-box;
}

/* 플러스 카드 */
.plus-card {
    display: flex;
    align-items: center;
    justify-content: center;

    /* 마우스 올렸을 때 느리게 움직이는 효과 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.plus-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* 마우스를 올리면 살짝 떠오르는 효과 */
    transform: translateY(-2px);
}

.plus-icon {
    font-size: 48px;
    color: #d1d5db;
}

.document-card {
    display: flex;
    flex-direction: column;

    /* 마우스 올렸을 때 느리게 움직이는 효과 */
    transition: box-shadow 0.3s ease, transform 0.3s ease
}

.document-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* 마우스를 올리면 살짝 떠오르는 효과 */
    transform: translateY(-2px);
}

.card-tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
}

.card-title {
    /* margin-bottom: 8px; */
    font-weight: 700;
    font-size: 18px;
    max-width: 100px;
    white-space: nowrap;
    /* 한 줄로 표시 */
    overflow: hidden;
    /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;
    /* ...으로 표시 */
}

/* 상태 뱃지 */
.status-badge,
.no-status-badge {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 6px;
    background-color: #ECD19E;
    color: white;
}

.no-status-badge {
    visibility: hidden;
}

/* 카드 내용 */
.card-date {
    font-size: 14px;
    color: #6b7280;
}

.card-content {
    margin-top: 12px;
    padding-top: 12px;
    padding-left: 0px;
    border-top: 1px solid #e5e7eb;
}

.card-company {
    font-size: 15px;
    color: #333;
}

.card-period {
    font-size: 13px;
    color: #333;
}