/* 임시로 테스트 위해 보더 설정 */
.navbar,
.logo,
.menu,
.authButton,
span {
    /* border: 1px solid red; */
}

.navbar {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    /* 좌우로 공간을 균등하게 배분 */
    align-items: center;
    background-color: #FFF7DF;
    padding: 4px 15%;

    height: 50px;
    /* 네비게이션 바의 고정 높이 설정 */
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    width: 140px;
    /* 원하는 크기로 설정 */
    height: auto;
    /* 비율을 유지하며 자동으로 설정 */
}

.menu {
    display: flex;
    gap: 40px;
    flex-grow: 10;
}

.menu a {
    text-decoration: none;
    color: #3B3B3B;
    font-weight: normal;
}

.menu a:hover {
    font-weight: bold;

    /* 마우스 올리면 글씨가 굵어짐 */
}

.authButton {
    background-color: #FFF7DF;
    /* 기본 색상 */
    color: black;
    border: 1.5px solid #ccc;
    padding: 8px 16px;
    border-radius: 6px;
    /* 둥글게 */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    flex-grow: 1;
}

.authButton:hover {
    background-color: #F6EBC8;
    /* 마우스 올렸을 때 색 변경 */
}