body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 다운받은 폰트 적용 */
@font-face {

  font-family: 'WantedSans';
  /* 사용할 폰트의 이름을 정의 */

  src: url('./fonts/WantedSans-Medium.otf');
  /* 폰트 파일의 위치 */

}

/* 전체에 폰트 적용 */
*,
body {

  font-family: 'WantedSans';

}