.coming-soon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    height: 550px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.hamster-logo {
    width: 300px;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korean-title {
    font-size: 40px;
    color: #ECD19E;
    margin: 15px 0;
    font-weight: 800;
}

.korean-text {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
    line-height: 1;
    font-weight: 600;
}